/* Kehon perusasetukset */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Header-asetukset */
header {
  background-image: url('images/header_background_pic.jpg'); /* Varmista, että tämä polku on oikein */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 20vh; /* Korkeus 20% näkymän korkeudesta */
  display: flex; /* Flexbox keskittämistä varten */
  align-items: center; /* Keskittää sisällön pystysuunnassa */
  justify-content: center; /* Keskittää sisällön vaakasuunnassa */
  text-align: center;
  position: relative; /* Tarvitaan pseudo-elementtiä varten */
  overflow: hidden;
  padding: 0 20%; /* Varmistaa 20% tyhjän tilan molemmilla puolilla */
}

/* Headerin pseudo-elementti */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Vähentää taustakuvan läpinäkyvyyttä */
  backdrop-filter: blur(4px); /* Sumennus taustakuvaan */
  z-index: 1; /* Asettaa pseudo-elementin tekstin taakse */
}

/* Headerin tekstin asetukset */
header h1 {
  position: relative;
  z-index: 2; /* Asettaa tekstin pseudo-elementin päälle */
  margin: 0;
  font-size: calc(3rem + 5vw); /* Skaalautuva fonttikoko */
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Tekstin varjo luo kohokuvion */
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.5); /* Läpinäkyvä teksti */
}

/* Main-asetukset */
main {
  display: flex;
  padding: 20px;
}

/* Sivupalkin ja pääsisällön asettelu */
aside {
  width: 20%;
  padding: 10px;
}

section {
  width: 75%;
  padding: 10px;
}

#standings-section {
  width: 100%;
  padding: 10px;
}

#standings-sidebar {
  width: 100%;
  padding: 10px;
}

/* Syötekentän tyylit */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 25px;
}

/* Nappien perusasetukset */
button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: #fff;
  background-color: #4CAF50; /* Vihreä väri */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

button:hover {
  background-color: #45a049; /* Tummempi vihreä hover-tila */
}

/* Tallenna- ja nollaa-nappien asettelu */
#save-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: green;
  color: white;
}

#reset-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: red;
  color: white;
}
