/* Kehon perusasetukset */
body {
  font-family: Arial, sans-serif;
  background-image: url('images/new_background_pic.jpg'); /* Uusi taustakuva kaikille muille osille paitsi headerille */
  background-size: cover; /* Varmistaa, että taustakuva peittää koko näkymän */
  background-position: center; /* Keskittää taustakuvan */
  background-repeat: no-repeat; /* Estää taustakuvan toistumisen */
  margin: 0;
  padding: 0;
}

/* Header-asetukset */
header {
  background-image: url('images/header_background_pic.jpg'); /* Headerin oma taustakuva */
  background-size: cover; /* Varmistaa, että taustakuva peittää koko headerin */
  background-position: center; /* Keskittää taustakuvan */
  background-repeat: no-repeat; /* Estää taustakuvan toistumisen */
  height: 30vh; /* Korkeus 30% näkymän korkeudesta */
  display: flex; /* Flexbox keskittämistä varten */
  align-items: center; /* Keskittää sisällön pystysuunnassa */
  justify-content: center; /* Keskittää sisällön vaakasuunnassa */
  text-align: center;
  position: relative; /* Tarvitaan pseudo-elementtiä varten */
  overflow: hidden;
  padding: 0 10%; /* 10% tyhjää tilaa molemmilla puolilla */
}

/* Headerin pseudo-elementti */
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Vähentää taustakuvan läpinäkyvyyttä */
  backdrop-filter: blur(2px); /* Vähentää sumennusta taustakuvaan */
  z-index: 1; /* Asettaa pseudo-elementin tekstin taakse */
}

/* Headerin tekstin asetukset */
header h1 {
  position: relative;
  z-index: 2; /* Asettaa tekstin pseudo-elementin päälle */
  margin: 0;
  font-size: calc(5rem + 7vw); /* Skaalautuva fonttikoko */
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7); /* Tekstin varjo luo kohokuvion */
  letter-spacing: 2px;
  width: 100%; /* Leveys */
  text-align: center; /* Keskittää tekstin */
  color: rgba(255, 255, 255, 0.5); /* Läpinäkyvä teksti */
}

/* Main-asetukset */
main {
  padding: 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  header {
    height: 25vh; /* Pienennetään headerin korkeutta pienemmillä näytöillä */
    padding: 0 5%; /* Vähennetään vaakasuuntainen padding pienemmillä näytöillä */
  }

  header h1 {
    font-size: calc(2.5rem + 6vw); /* Suurempi fonttikoko pienemmillä näytöillä */
  }
}

@media (max-width: 480px) {
  header {
    height: 20vh; /* Pienennetään headerin korkeutta vielä enemmän pienemmillä näytöillä */
    padding: 0 5%; /* Vähennetään vaakasuuntainen padding pienemmillä näytöillä */
  }

  header h1 {
    font-size: calc(2rem + 7vw); /* Suurempi fonttikoko vielä pienemmillä näytöillä */
  }
}
